


* {
    box-sizing: border-box;
}

.content {
    margin-top: 75px;
}

body {
    background-color: #FFFFFF;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    color: #000000
}

h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}

h1 {
    font-size: 2.5em;
    color: #1F3C65;
    margin: 20px auto;
}

h2 {
    font-size: 1.6em;
    color: #AC5D71;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 15px auto;
    text-align: center;
}

h3 {
    font-size: 1.4em;
    color: #1F3C65;
    letter-spacing: 0.05%;
    font-weight: 500;
    padding-top: 10px;
    margin: 5px 0;
}

h4 {
    font-size: 1em;
    color: #1F3C65;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 0
}

p {
    margin: 0;
    padding: 15px 0;
}

ul {
    margin: 0;
    padding: 0 0 0 30px;
}

#lessons h4 {
    margin-top: 20px;
    color: #AC5D71;
}

.bullets {
    list-style: none;
    font-size: 12px;
}

.bullets li::before {
    content: "•";
    color: #AC5D71;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.about img {
    width: 100%;
    margin-bottom: 15px;
}


img {
    width: 100%;
}

a {
    color: #AC5D71;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #AC1D62;
}

a:visited {
    color: #AC5D71;
}

a:active {
    color: #AC5D71;
}

/* Layout styling */
.container {
    padding: 0 15px;
}

header {
    background-color: #ffffff;
    padding: 0 0 20px 0;
    position: relative;
    width: 100%;
}

#hero p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 0;
    line-height: 1.5;
    margin: 0;
}

.logo {
    max-width: 250px;
    padding: 10px 0;
    margin: 10px 0;
}

nav>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav>ul>li>a {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #AC5D71;
    font-weight: 500;
    letter-spacing: 0.05em;
    padding: 0;
    margin: 0 10px;
    text-transform: uppercase;
    transition: 0.3s;
}

nav>ul>li>a:hover {
    color: #6e0739;
}

.navtoggle li:not(:last-child) {
    display: none;
}

.navtoggle, .navtoggle.responsive {
    position: relative;
}

.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 24px;
    padding: 10px 0;
    margin: 10px 10px 10px 0;
}

.navtoggle.responsive nav {
    padding: 24px 0 0;
}

.navtoggle.responsive li {
    display: block;
    padding: 10px 0;
    border-top: 1px solid rgba(234, 234, 234, 1);
}

.navtoggle.responsive li:last-child {
    padding: 0 0 10px;
}

#hero h1 {
    text-align: center;
    font-family: 'Caveat', cursive;
    color: #1F3C65;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0.025em;
    margin: 20px 0;
}

#hero {
    background-color: #FFFFFF;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
}

a.button {
    display: inline-block;
    background: rgb(240, 190, 148);
    background: linear-gradient(162deg, rgba(240, 190, 148, 1) 0%, rgba(173, 95, 114, 1) 76%);
    -webkit-box-shadow: 5px 7px 25px -7px rgba(173, 95, 114, 0.6);
    box-shadow: 5px 7px 25px -7px rgba(190, 129, 144, 0.6);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin-top: 15px;
    transition: 0.2s opacity;
}

.fa-solid.fa-arrow-right.fa-lg {
    margin-left: 10px;
}

a.button:hover {
    opacity: 0.8;
    text-decoration: none;
}

a.button.download {
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    color: rgb(172, 29, 98, 100%);
    border: 3px solid #BE8290;
    transition: 0.2s;
    margin-top: 5px;
    margin-bottom: 20px;
}

.fa-solid.fa-download {
    margin-right: 10px;
}

a.button.download:hover {
    color: rgb(79, 0, 38, 100%);
    background: rgb(190, 130, 144, 35%);
}

a.button.contact {
    background: transparent;
    color: rgb(255, 255, 255, 85%);
    padding-left: 20px;
    margin-top: 40px;
    border: 2px solid rgb(255, 255, 255, 55%);
    transition: 0.2s;
}

.fa-regular.fa-paper-plane.fa-lg {
    margin-right: 10px;
    color: rgb(255, 255, 255, 75%)
}

a.button.contact:hover {
    color: rgb(255, 255, 255, 100%);
    background: rgb(255, 255, 255, 10%);
    border: 2px solid #ffffff
}

main {
    padding-top: 56px;
    padding-bottom: 50px;
}

.my.story {
    width: 100%;
}

footer {
    background: rgb(240, 190, 148);
    background: linear-gradient(168deg, rgba(240,190,148,1) 0%, rgba(173,95,114,1) 58%);
    padding: 15px 10px;
    width: 100%
}

#contact h3 {
    color: #ffffff;
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 0;
}

#contact p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 0;
    line-height: 1.5;
    margin: 0;
}

.footer.icon {
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
}

.footer.icon a {
    padding: 0 10px;
    color: rgb(255, 255, 255, 35%);
    transition: 0.3s;
}

.footer.icon a:hover {
    color: rgb(255, 255, 255, 100%);
}

#copyright {
    color: rgb(255, 255, 255, 55%);
    font-size: 12px;
    padding: 0;
    text-align: right;
    margin: 0;
}

@keyframes color-change {
    0% {
        fill: #edc655;
    }

    50% {
        fill: #fcffad;
    }

    100% {
        fill: #f76414;
    }
}

.sun {
    animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }

    to {
        transform: translate(200px, 50px);
    }
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }

    to {
        transform: translate(100px, 48px);
    }
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes moon-rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(25deg);
    }
}

.moon {
    transform-origin: 50% 50%;
    animation: moon-rotate 5s ease-in-out alternate infinite;
}

@keyframes bounce {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    60% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

.small-star {
    animation: bounce 3s infinite;
}

.small-star2 {
    animation: star-spin 3s infinite;
}

/* @keyframes ball-move {
    from {
        transform: translate(-162.29px, 111.54px);
    }
    to {
        transform: translate(-170px, 111.54px);
    }
}
.ball{
    animation: 5s ball-move infinite alternate linear;
}*/
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
    .content {
        margin-top: -25px;
    }

    header {
        text-align: unset;
        padding: 20px 0 13px;
    }

    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }

    nav>ul {
        margin: 1em 0;
    }

    nav>ul>li {
        display: inline-block;
    }

    nav>ul>li>a {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        color: #AC5D71;
        font-weight: 500;
        letter-spacing: 0.05em;
        padding: 0;
        margin: 0 15px;
        text-transform: uppercase;
        border-bottom: 3px solid #eaeaea;
    }

    nav>ul>li>a:hover {
        color: #6e0739;
        border-bottom: 3px solid #000000;
    }

    .navtoggle li:not(:last-child) {
        display: inline-block;
    }

    .navtoggle li:last-child {
        display: none;
    }

    .navtoggle.responsive li {
        border-top: 0 solid white;
    }

    main {
        padding-top: 150px;
    }

    .my.story {
        width: 85%;
    }

    body {
        font-size: 16px;
    }

    h1, h2, h3, h4 {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.4;
    }

    h1 {
        font-size: 2.5em;
        color: #1F3C65;
        margin: 20px auto;
    }

    h2 {
        font-size: 1.6em;
        color: #AC5D71;
        font-weight: 500;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin: 75px 0 75px 0;
        text-align: center;
    }

    h3 {
        font-size: 1.4em;
        color: #1F3C65;
        letter-spacing: 0.05%;
        font-weight: 500;
    }

    h4 {
        font-size: 1em;
        color: #1F3C65;
        font-weight: 500;
        padding: 10px 0;
        margin: 0
    }

#hero h1{
    text-align: left;
    margin-bottom: 10px;
}
    #hero p {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 400;
        padding: 10px 0;
        line-height: 1.5;
        margin: 0;
        text-align: left;
    }

    .about img {
        width: 85%;
        margin-bottom: 15px;
    }
    .about h3{
        margin-top: 25px;
    }

    #contact p {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding: 10px 0;
        line-height: 1.5;
        margin: 0;
    }

    .col-md-6 {
        width: 50%;
    }

    [class*="col-"] {
        float: left;
        padding: 0 15px;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }
}

footer .container {
    padding: 50px 15px;
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
    .content {
        margin-top: 30px;
    }

    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    header {
        text-align: unset;
        padding: 60px 0 20px 0;
    }

    .logo {
        max-width: 250px;
        padding: 0;
        margin: 10px 10px;
    }

    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }

    nav>ul>li>a {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        color: #AC5D71;
        font-weight: 500;
        letter-spacing: 0.05em;
        padding: 0;
        margin: 0 20px;
        text-transform: uppercase;
        border-bottom: 3px solid #eaeaea;
    }

    body {
        font-size: 18px;
    }

    h1, h2, h3, h4 {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.4;
    }

    h1 {
        font-size: 2.5em;
        color: #1F3C65;
        margin: 20px auto;
    }

    h2 {
        font-size: 40px;
        color: #AC5D71;
        font-weight: 500;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin: 50px 0 40px 0;
        text-align: center;
    }

    h3 {
        font-size: 1.4em;
        color: #1F3C65;
        letter-spacing: 0.05%;
        font-weight: 500;
    }

    h4 {
        font-size: 1em;
        color: #1F3C65;
        font-weight: 500;
        padding: 10px 0;
        margin: 0
    }
    .about h3{
        margin-top: 50px;
    }

    footer .container {
        padding: 75px 20px;
    }

    #hero {
        background-color: #FFFFFF;
        padding: 25px 0;
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    #hero h1 {
        text-align: left;
        font-family: 'Caveat', cursive;
        color: #1F3C65;
        font-size: 66px;
        font-weight: 400;
        letter-spacing: 0.025em;
        margin: 20px 0 0px 25px;
    }

    #hero p {
        text-align: left;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 400;
        padding: 10px 0;
        line-height: 1.5;
        margin-left: 25px;
        max-width: 650px;
    }

    .my.story {
        width: 75%;
    }

    .about img {
        width: 70%;
        margin-bottom: 20px;
    }

    #contact p {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 400;
        padding: 10px 0;
        line-height: 1.5;
        margin: 0;
        max-width: 100%;
    }

    .bullets {
        list-style: none;
        font-size: 16px;
    }
}

/*[class*="col-"] {
    float: left;
    padding-right: 0;
    padding-left: 50px;
}*/
.row::after {
    content: "";
    clear: both;
    display: table;
}

.footer.icon a {
    padding: 0 15px;
    color: rgb(255, 255, 255, 35%);
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
    .container {
        max-width: 87%;
        margin-left: auto;
        margin-right: auto;
    }

    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }

    nav>ul>li>a {
        font-family: 'Poppins', sans-serif;
        font-size: 22px;
        color: #AC5D71;
        font-weight: 500;
        letter-spacing: 0.05em;
        padding: 0;
        margin: 0 20px;
        text-transform: uppercase;
        border-bottom: 3px solid #eaeaea;
    }

    body {
        font-size: 22px;
    }

    h1, h2, h3, h4 {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.4;
    }

    h1 {
        font-size: 2.5em;
        color: #1F3C65;
        margin: 20px auto;
    }

    h2 {
        font-size: 48px;
        color: #AC5D71;
        font-weight: 500;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin: 50px 0 75px 0;
        text-align: center;
    }

    h3 {
        font-size: 40px;
        color: #1F3C65;
        letter-spacing: 0.05%;
        font-weight: 500;
        margin: 50px 0 5px 0;
    }

    h4 {
        font-size: 1em;
        color: #1F3C65;
        font-weight: 500;
        padding: 10px 0;
        margin: 0
    }

    footer .container {
        padding: 150px 25px;
    }

    #hero h1 {
        font-family: 'Caveat', cursive;
        color: #1F3C65;
        font-size: 85px;
        font-weight: 400;
        letter-spacing: 0.025em;
        margin: 20px 0 0px 55px;
        text-align: left;
    }

    #hero p {
        font-family: 'Poppins', sans-serif;
        font-size: 22px;
        font-weight: 400;
        padding: 10px 0;
        line-height: 1.5;
        margin-left: 60px;
        max-width: 550px;
        text-align: left;
    }

    #contact p {
        font-family: 'Poppins', sans-serif;
        font-size: 22px;
        font-weight: 400;
        padding: 10px 0;
        line-height: 1.5;
        margin-right: 10px;
        max-width: 100%;
    }

    .bullets {
        list-style: none;
        font-size: 20px;
    }

    .my.story {
        width: 60%;
    }

    .about img {
        width: 65%;
        margin-bottom: 25px;
    }

    [class*="col-"] {
        float: left;
        padding: 100px 0;
    }
    .col-lg-8 {
        width: 60%;
    }

    .col-lg-4 {
        width: 40%;
    }

    .content {
        float: left;
        padding-right: 0;
        padding-left: 75px;
        padding-top: 150px;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    footer {
        margin: 0;
        padding: 0;
    }

    .footer.icon a {
        padding: 0 25px;
        color: rgb(255, 255, 255, 35%);
    }

    p #copyright {
font-size: 12px;
        margin: 0;
        padding: 0;
        text-align: right;
    }

    .row {
        margin: 15px 0 100px 0;
    }

    #skills.row {
        margin: 0;
    }
}